extends layout

block content
  h1 Find your train!
  h3 Announcement: A new trainline will be added on the 15th of Jan.
  p Select your train below to see its current schedule.
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
